.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  border: none;
}

.btn-modal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
}

.btn-green {
  background-color: #28a745;
  color: #fff;
}

.btn-red {
  background-color: #fff;
  color: #dc3545;
  border: 1px solid #dc3545;
}

button:hover {
  opacity: 0.9;
}

.quantity-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantity-buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.quantity-button {
  background-color: transparent;
  border: none;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.confirmation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmation-text {
  color: #00C885;
}
